{# src/OCCoreBundle/Resources/views/Home/layout.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent()}} - Home
{% endblock %}

{% block body %}

  <p>Ici on mettra un formulaire de contact</p>

{% endblock %}
